body {
  font-family: "Roboto", "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #303133;
  margin-top: 0px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #303133;
}

.swifty-main {
  padding-top: 90px;
  padding-bottom: 60px;
}
.swifty-footer {
  padding-top: 40px;
}
